<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2" defer></script>
    <script src="js/main.js" defer></script>
    <title>Random Email List</title>
</head>
<body>
    <div id="app">
        <ul v-if="emails.length >= 10">
            <li v-for="(email, i) in emails">{{ email }}</li>
        </ul>
    </div>  
</body>
</html>